{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

	{% if title %}
	<title>DIIT Library - {{ title }}</title>
	{% else %}
		<title>DIIT Library</title>
	{% endif %}
</head>


   <body>
   	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
   	<div class="container">
	  <a class="navbar-brand" href="">
      
	<!-- image  -->
    <img src="media\pg.jpg" width="30" height="30" class="d-inline-block align-top" alt=""></a>

  	<span class="navbar-brand mb-0 h1">DIIT Library</span>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  	<span class="navbar-toggler-icon"></span>

  	</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown </a>
		       
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			    </div>
          </li>

			    <!-- Navbar Right Side -->
          {% if user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
             <a class="nav-item nav-link" href="#">Profile</a> {% comment %} {% url 'profile' %} {% endcomment %}
             </li>
             <ul class= "navbar-nav nav-flex-icons">
             <li class="nave-item">
             <a class="nav-link waves-effect">
             <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
             <i class="fas fa-shopping-cart"></i>
             <span class="clearfix d-none d-sm-inline-block">Borrow List</span>
             </a>
             </li>
             </ul>
          {% else %}
          	<li>
          		<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          	</li>
          	<li>
            		<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          	</li>
          {% endif %}
        </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div> 
	</div>
</nav>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<br>
{% block content %}
{% endblock %}


  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4"> 
    <!--Copyright-->
    <div class="footer-copyright py-3">
      <h5><small>© 2019 Copyright: diit-ibrary</small></h5>
      <h6><small>Website: <a href= "#http://diit.edu.bd" target="">diit.edu.bd</a></small></h6>
      <h6><small>Developed By : Ratul - Ayub - Meraj - Tonmoy</small></h6>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static  'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  </body>
</html> 
