{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2> Request For These Books </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book title</th>
            <th scope="col">Author</th>
            <th scope="col">Add Date</th>
            <th scope="col">Return Date</th>
        </tr>
        </thead>

        <tbody>
        {% for book_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ book_item.borrow_book.name }}</td>
            <td>{{ book_item.borrow_book.author }}</td>
            <td>{{ book_item.date_added }}</td>
            <td>{{ object.get_return_date }}</td>
            <td>
                {% comment %} <a href="{% url 'remove-from-cart' book_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ book_item.borrow_date }}
                <a href="{% url 'add-to-cart' book_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a> {% endcomment %}
            </td>
            {% comment %} <td>
            {% if book_item.item.discount_price %}
                ${{ book_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ book_item.get_amount_saved }}</span>
            {% else %}
                ${{ book_item.get_total_item_price }}
            {% endif %} 
            <a style='color: red;' href="{% url 'remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>{% endcomment %}
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your list is empty</td>
        </tr>
        {% endfor %}
        <br>
        <tr>
        <td colspan="5">
        </td>
        </tr>
        <tr>
            <td colspan="4">
             <a class='btn btn-primary float-right' href="{% url 'home' %}">Continue Adding Books</a>
             </td>
             <td colspan="5">
            <a class='btn btn-warning float-right' href="#">Confirm Borrow Request</a>
            </td>
        </tr>
        
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to Final Request</a>
            <a class='btn btn-primary float-right' href='/'>Continue Adding Books</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}
